body {
    margin: 30px;
}

button {
    margin: 5px;
}

h3 {
    margin: 8px;
}
h4 {
    margin: 5px;
}

label {
    margin-right: 5px;
}

.error {
    color: red;
}

.pending-change {
    border: 2px solid orange;
}
.pending-change::after {
    content: 'Press enter to update';
}

td {
    padding: 3px;
}

input.score {
    width: 70px;
}

.required {
    color: red;
}

.contents {
    margin-top: 15px;
}

.form-add-gametype {
    margin-left: 30px;
}

.form-control {
    max-width: 250px;
}