body {
    margin: 30px;
}

button {
    margin: 5px;
}

h3 {
    margin: 8px;
}
h4 {
    margin: 5px;
}

label {
    margin-right: 5px;
}

.error {
    color: red;
}

.pending-change {
    border: 2px solid orange;
}

td {
    padding: 3px;
}

input.score {
    width: 70px;
}